body{
	background-color: #878383;
	 font-family: sans-serif;
}
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #b92424;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 5px 3px 1px rgba(0,0,0,0.75);
  /*display: block;*/
  margin-top:20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:active
{
  transform: scale(1.05);
}

iframe{
	background-image: url('carga.gif');
	border-radius: 10px;
	display: block;
	box-shadow: 5px 5px 1px black;
	margin-left:auto;
	margin-right:auto;
    margin-top:20px;
}
.caja{
  display: inline-block;
  border-radius: 10px;
  background-color: #b92424;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 5px 3px 1px rgba(0,0,0,0.75);
  display: block;
  margin-top:20px;
}
.nav{
	background-color:#b92624;
	padding: 20px;
	color: white;
	width:100%;
}
.logo{
  width: 150px;
  height: 150px;
}
.urlvid{
	font-size: 20px;
	color: #FFFFFF;
}
.linkss{
  float: right;
}

